
# Created by https://www.gitignore.io/api/vapor

### Vapor ###
Config/secrets

### Vapor Patch ###
Packages
.build
xcuserdata
DerivedData/
.DS_Store
*_Info.plist

/ApiCore.xcodeproj/GeneratedModuleMap
/ApiCore.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/ApiCore.xcodeproj/xcshareddata/xcschemes/xcschememanagement.plist
